<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<div class="jumbotron purpletext">
	<h1>Scoreboard<span id="gold" class="glyphicon glyphicon-star-empty"></span></h1>
	<br/>
	<p> Mouse over the tab to view points. Users without points are not shown. </p>
	
</div>
<style>
    th {
      background-color: #eee;
    }
    th[data-sort]{
      cursor:pointer;
    }
</style>
<div class="col-md-1"></div>
<div class="score-containe col-md-10">

	<% if current_user and current_user.admin %>
		<%= link_to csv_index_path(:format => "csv") do %>
			<i class="glyphicon glyphicon-cloud-download pull-left"></i>&nbsp;Download Excel Data From Start of Last Week to NOW
		<%end%>
		<br/>
		<%= link_to csv_delete_path do %>
			<i class="glyphicon glyphicon-remove-circle pull-left"></i>&nbsp;Delete Old Data (last week and older)
		<%end%>
		<br/><br/>
	<% end %>
	<!-- Nav pills -->
	<ul class="nav nav-pills">
	  <li class="active"><a href="#tab-1" data-toggle="tab">User Scores</a></li>
	  <li><a href="#tab-2" data-toggle="tab">Department Scores</a></li>
	</ul>
	<br/>
	<h9> Click any column name to re-sort the table! </h9>
	<br/>
	<!-- Tab panes -->
	<div class="tab-content well">
		<div class="tab-pane active" id="tab-1">
			<div class="tablecontainer">
			<table id="user_table" class="table user_table">
				<thead>
					<tr>
						<th data-sort="string">Name</th>
						<th data-sort="string">Department</th>
						<th data-sort="int" data-sort-default="desc">Points</th>
						<%if current_user and current_user.admin %>
						<th data-sort="string">Delete</th>
						<% end %>
					</tr>
				</thead>
				
				<%if @scoresbyuser %>
					<tbody>
					<% @scoresbyuser.values.each do |p| %>
						<tr> 
							<td> <%= link_to p["name"], p["id"] %> </td>
							<td> <%= p["dept"] %> </td>
							<td> <%= p["pts"] %> </td>
							<% if current_user and current_user.admin %>
							<td> <%= link_to user_path(p["id"]),
				      method: :delete,
				      data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-md" do %> 
				      <i class="glyphicon glyphicon-trash pull-left"></i>&nbsp;Delete User
				      <%end%>
				  </td>
							<% end %>
						</tr>
					<% end %>
					</tbody>
				<%end%>
			</table>
		</div>
		</div>
		<div class="tab-pane" id="tab-2">
			<table id="dep_table" class="table dep_table">
						<thead>
							<tr>
								<th data-sort="string">Department</th>
								<th data-sort="float">Points</th>
								<th data-sort="float">Department Members </th>
								<th data-sort="float">Points Per Person</th>
							</tr>
						</thead>
						<% if @scoresbydept %>
						<tbody>
							
							<% @scoresbydept.values.each do |d| %>
							<tr>
								<td> <%= d["name"] %> </td> 
								<td> <%= d["pts"] %> </td> 
								<td> <%= d["members"] %> </td>
								<td> <%= d["pts"]/d["members"] %></td>
							<tr>
							<% end %>
						
						</tbody>
						<% end %>
					</table>
		</div>
	</div>
</div>
<div class="col-md-1"></div>

<script>
$(document).ready(function(){
    $('#user_table').stupidtable();
    $('#dep_table').stupidtable();

});
</script>


<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdn.rawgit.com/tonystar/bootstrap-hover-tabs/v3.1.1/bootstrap-hover-tabs.js"></script>

