<div class="jumbotron purpletext">
    <h1>Register</h1>
    <p> if you haven't already registered with your @lifecarealliance.org email address, you can do so here. </p>
</div>

<div class="quick">

  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> First name:</p> <div class="field"><%= f.text_field :fname, :required => 'required'%>  </div>
    <p> Last Name:</p> <div class="field"><%= f.text_field :lname, :required => 'required'%>  </div>
    <p> Email:</p> <div class="field"><%= f.text_field :email, :required => 'required'%> </div>
    <p> Department:</p> <div class="field"><%= f.collection_select :department_id, @departments, :id, :name, include_blank: true, :required => 'required' %> </div>
    <p> Password:</p> <div class="field"><%= f.password_field :password, :required => 'required'%> </div>
    <p> Password Confirmation:</p> <div class="field"><%= f.password_field :password_confirmation, :required => 'required'%> </div>    
    <br/> <br/>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>


