<div class="jumbotron purpletext">
    <h1>Register</h1>
    <p> if you haven't already registered with your @lifecarealliance.org email address, you can do so here. </p>
</div>

<div class="fuck">

  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> First name:</p> <%= f.text_field :fname%> 
    <p> Last Name:</p> <%= f.text_field :lname%> 
    <p> Email:</p> <%= f.text_field :email%>
    <% if true %>
    <p> Department:</p><%= f.collection_select :department_id, @departments, :id, :name, include_blank: true %>
    <% end %>
    <p> Password:</p> <%= f.password_field :password%>
    <p> Password Confirmation:</p> <%= f.password_field :password_confirmation%>    
    <br/> <br/>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>