<div class="jumbotron purpletext">
<div class="col-md-10">
<h1 id="name">
<%= @user.fname.capitalize %> <%= @user.lname.capitalize %>
</h1>
<span class="glyphicon glyphicon-user golden"></span>
<p id="userid" style="display:none;">
	<%= @user.id %>
</p>
<br/>
<p> <%= @department.name %>  - <%= @user.email %> </p>
</div>
<div class="col-md-2">
    <% if current_user == @user %> 
        <div class="flexible">
            <%= link_to "Add Points!", activities_path, :class => "special" %>
        </div>
    <% end %> 
</div>
</div>
<div class="col-md-2">
<%if current_user == @user %>
        <div class="sidepanel">
        <button class="btn btn-default btn-md" id="sbmt">update goal </button ><input style="width: 50px; margin-left:10px;" id="goal" type="value"/>
        <%= javascript_include_tag('goal.js') %>
        </div>
    <%end%>
</div>


<div class="col-md-8">
<p id="ssx" style="text-align:left;"> points this month: <span id="score" class="golden"><%= @score %></span></p>
<div id="graph"></div>
<div><span id="zero">0%</span><span id="twentyfive">25%</span><span id="fifty">50%</span><span id="seventyfive">75%</span><span id="hundred">100%</span>
</div>



    <br/><br/>
 <% if @actions and current_user == @user %>
 <table class="tb padleft">
 	<tr> <th class="teeh"> Activities </th><th class="teeh"> Points </th> <th class="teeh"> Created </th> </tr>

 <% @actions.each do |b| %>
 <tr>
 	<td class="teed"> <%=b.description %> </td>
 	<td class="teed"> <%= Integer(b.points) * Integer(b.quantity) %> </td>
 	<td class="teed"> <%=b.created_at.strftime('%F') %> </td>
 </tr>
 <% end %>
</table>
 <% end %>
 <br/><br/>
</div>

<div class="col-md-2">
<!-- if the current user is on his own page, this script will prompt them to enter their goal -->
<div class="sidepanel">
	<% if @user.goal %>
	  <p style="text-align: center;" > weekly goal: <span id="usergoal" class="golden"><%= @user.goal %></span> </p> 
	<%end%>
</div>
	<br/><br/>



</div>


<script>
	
$(document).ready(function(){


        makeProgress = function(){
            $('svg').remove();
			var width = window.innerWidth * .6;
			var score = $('#score').text();
    		var goal = $('#usergoal').text();
			var progress =  score / goal;		
            
            //who needs mike mbostock	
			
			svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');


    		svg.setAttribute('height', '50');

			svg.setAttribute('width', width);

			
	        
            $('#zero').css("margin-left", 0);
            $('#twentyfive').css("margin-left", (width/4)-30);
            $('#fifty').css("margin-left", (width/4)-50);
            $('#seventyfive').css("margin-left", (width/4)-50);
            $('#hundred').css("margin-left", (width/4)-50);

            if(progress > 1){
                progress = 1;
                $('#ssx').text("Good job! you reached your goal.");
            }
            else {
                $('#ssx').css("margin-left", progress*width);
            }

			var baseLine = document.createElementNS('http://www.w3.org/2000/svg', 'line');
    		baseLine.setAttribute('x1', 4);
    		baseLine.setAttribute('y1', 10);
   			baseLine.setAttribute('x2', width);
    		baseLine.setAttribute('y2', 10);
    		baseLine.setAttribute('style', 'stroke:gray; stroke-opacity: .5; stroke-width: 20;');
    		svg.appendChild(baseLine);


    		var tick0 = document.createElementNS('http://www.w3.org/2000/svg', 'line');
    		tick0.setAttribute('x1', 2);
    		tick0.setAttribute('y1', 0);
   			tick0.setAttribute('x2', 2);
    		tick0.setAttribute('y2', 30);
    		tick0.setAttribute('style', 'stroke:black; stroke-width: 4;');
    		svg.appendChild(tick0);

           /* var text0= document.createElementNS('ttp://www.w3.org/2000/svg', 'text');
            text0.setAttribute('x', 6);
            text0.setAttribute('y', 0);
            text0.textContent = "0";
            legend.appendChild(text0);*/

    		var tick1 = document.createElementNS('http://www.w3.org/2000/svg', 'line');
    		tick1.setAttribute('x1', (width*.25));
    		tick1.setAttribute('y1', 0);
   			tick1.setAttribute('x2', (width*.25));
    		tick1.setAttribute('y2', 30);
    		tick1.setAttribute('style', 'stroke:black; stroke-width: 4;');
    		svg.appendChild(tick1);

            /*var text1= document.createElementNS('ttp://www.w3.org/2000/svg', 'text');
            text1.setAttribute('x', (width*.25));
            text1.setAttribute('y', 0);
            text1.textContent = "25";
            legend.appendChild(text1);*/

    		var tick2 = document.createElementNS('http://www.w3.org/2000/svg', 'line');
    		tick2.setAttribute('x1', (width*.5));
    		tick2.setAttribute('y1', 0);
   			tick2.setAttribute('x2', (width*.5));
    		tick2.setAttribute('y2', 30);
    		tick2.setAttribute('style', 'stroke:black; stroke-width: 4;');
    		svg.appendChild(tick2);

           /* var text2= document.createElementNS('ttp://www.w3.org/2000/svg', 'text');
            text2.setAttribute('x', (width*.5));
            text2.setAttribute('y', 0);
            text2.textContent = "50";
            legend.appendChild(text2);*/

    		var tick3 = document.createElementNS('http://www.w3.org/2000/svg', 'line');
    		tick3.setAttribute('x1', (width*.75));
    		tick3.setAttribute('y1', 0);
   			tick3.setAttribute('x2', (width*.75));
    		tick3.setAttribute('y2', 30);
    		tick3.setAttribute('style', 'stroke:black; stroke-width: 4;');
    		svg.appendChild(tick3);

            /*var text3= document.createElementNS('ttp://www.w3.org/2000/svg', 'text');
            text3.setAttribute('x', (width*.75));
            text3.setAttribute('y', 0);
            text3.textContent = "75";
            legend.appendChild(text3);*/

    		var tick4 = document.createElementNS('http://www.w3.org/2000/svg', 'line');
    		tick4.setAttribute('x1', width-2);
    		tick4.setAttribute('y1', 0);
   			tick4.setAttribute('x2', width-2);
    		tick4.setAttribute('y2', 30);
    		tick4.setAttribute('style', 'stroke:black; stroke-width: 4;');
    		svg.appendChild(tick4);

            /*var text4= document.createElementNS('ttp://www.w3.org/2000/svg', 'text');
            text4.setAttribute('x', width);
            text4.setAttribute('y', 0);
            text4.textContent = "100";
            legend.appendChild(text4);*/

    		var prog= document.createElementNS('http://www.w3.org/2000/svg', 'line');
    		prog.setAttribute('x1', 4);
    		prog.setAttribute('y1', 10);
   			prog.setAttribute('x2', (progress*width));
    		prog.setAttribute('y2', 10);
    		prog.setAttribute('style', 'stroke:blue; stroke-opacity: .5; stroke-width: 20;');
    		svg.appendChild(prog);

            $('#graph').append(svg);

        };  

        makeProgress();
        $( window ).resize(makeProgress);


});
</script>