<div class="jumbotron purpletext">
<div class = "col-md-2"></div>
<div class = "col-md-4">
	<h1>
	<%= @user.fname.capitalize %> <%= @user.lname.capitalize %>
	</h1>

	<p> Department: <span> <%= @department.name %> </p>
	<p> Email: <span> <%= @user.email %> </p>
	<% if current_user == @user %>
		<p><%= link_to "Change your password", '/change', method: :get %><p>
	<% end %>
</div>
<div class = "col-md-4">
	<%if @score.first.points != nil %>
	<h1 id = "gold"><%= @score.first.points %></h1>
	<% else %>
	<h1 id = "gold">0</h1>
	<% end %>
	<p>points this month</p>
</div>
<div class = "col-md-2"></div>
</div>
