<div class="fuck">   
  <h3>Log in</h3>
  <div class="form-group">
    <%= form_tag '/login' do %>
      </br>
      <%= text_field_tag :email, nil, :placeholder => 'Enter User Email...'%>
      <%= password_field_tag :password, nil, :placeholder => 'Enter Password...'%>
      <br/>
      <%= submit_tag "Login", :class => "btn btn-primary btn-lg subsign" %>
      <%= link_to "Sign up", '/signup', :class => "btn btn-primary btn-lg subsign", method: :get %>
	 </br><%= link_to "Forgot your password?", '/recover_password', method: :get %>
    <% end %>
  </div>

</div>
