
<div class="col-md-2"></div>
<div class="col-md-8">
<%= form_for @activity do |a| %>
 
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@activity.errors.count, "error") %> prohibited
        this activity from being saved:
      </h2>
      <ul>
        <% @activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="authform">
  <div class="form-group">
    <%= a.label :description %>
    <%= a.text_field :description , class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= a.label :value %>
    <%= a.text_field :value , class: 'form-control' %>
  </div>
  <%= a.submit 'Save', :class=> 'btn btn-default'%>
</div>

<% end %>

</div>
<div class="col-md-2"></div>