
<div class = "col-md-2"></div>
<div class = "col-md-8">

<% if current_user and current_user.admin %>
<h1>Activities</h1>
<br/>
	<%= link_to new_activity_path, :class => "btn btn-default btn-md" do %>
							<i class = "glyphicon glyphicon-plus pull-left"></i>&nbsp; New Activity
	<%end%>
	<br/>
<%else%>
<h1> Add Points </h1>
<br/>				
	
<% end %>
<br/>
<p> Type in the search box to find activities! </p>
<br/>
	<form id="live-search" action="" class="styled" method="post">
	    <div class = "form-group">
	        <input type="text" class="form-control" id="filter" placeholder="Search..." value="" />
	    </div>
	</form>
	<table class = "table table-condensed activities-table">
		<thead>
			<tr>
				<th class = "text-left">Description</th>
				<th class = "text-left">Value</th>
				<% if current_user and current_user.admin %>
					<th> Edit </th>
					<th> Delete </th>
				<% end %>

			</tr>
		</thead>
		<tbody>
			<% @activities.each do |activity| %>
			<tr>
				<td class = "description"><%= activity.description %></td>
				<td><%= activity.value %></td>
				<% if current_user and current_user.admin %>
				<td>
					<%= link_to edit_activity_path(activity.id), :class => "btn btn-default btn-md" do  %>
					<i class="glyphicon glyphicon-edit pull-left"></i>&nbsp;Edit Activity
				<%end%>
				</td>
				<td>
					<%= link_to activity_path(activity.id),
				      method: :delete,
				      data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-md" do %>  
				      	<i class="glyphicon glyphicon-remove pull-left"></i>&nbsp;Delete
				    <%end%>
				</td>
				<!-- otherwise they are only allowed to log activities -->
				<% else %>
				<td>
				<% if !activity.needsquantity %>
					<%= link_to actions_create_path(:user_id => current_user.id, :activity_id => activity.id), method: :post, :class => "btn btn-default btn-md" do  %>
						<i class="glyphicon glyphicon-plus pull-left"></i>&nbsp;Log Activity
					<%end%>
				<%else%>
				<!-- problematic modal fix-->
					<%= form_tag actions_create_path(:user_id => current_user.id, :activity_id => activity.id, :minutes => params[:minutes]), method: :post, :class => "form-horizontal" do %>
					    <%= text_field_tag :minutes, params[:minutes], :class => "form-control notsowide" %> <span class="alignright"> minutes </span>
					    <br/>
						<%= button_tag(type: "submit", :class => "btn btn-default btn-md") do %>
							<i class="glyphicon glyphicon-plus pull-left"></i>&nbsp;Log Activity
						<% end %>
					<% end %>
				<%end%>
				</td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
	<br/> <br/>
</div>
<div class = "col-md-2"></div>



